/新規登録方法選択画面
.signupmean-container
  .signupmean-header
    = render partial: 'signups/shared/signup_header'

  .signupmean-main
    = form_for @user, url: new_user_registration_path, method: :get, class: 'signup_box' do |f|
      .signupmean-main__menu

        .signupmean-main__menu_list
          .signupmean-main__menu_list_top
            新規会員登録

          .signupmean-main__menu_list_mail
            = button_to new_user_registration_path, method: :get, class: "signupmean-main__menu_list_mail_btn" do
              %i.far.fa-envelope
              メールアドレスで登録する

          .signupmean-main__menu_list_facebook
            = button_to new_user_registration_path, method: :get, class: "signupmean-main__menu_list_facebook_btn" do
              %i.fab.fa-facebook-square
              Facebookで登録

          .signupmean-main__menu_list_google
            = button_to new_user_registration_path, method: :get, class: "signupmean-main__menu_list_google_btn" do
              %i.fab.fa-google
              Googleで登録
  .signupmean-footer
    = render partial: 'signups/shared/signup_footer'
