
.signin-container
  .signin-header
    = render partial: 'shared/signup_header'

  .signin-main
    .signin-main__menu
      .signin-main__menu_signup
        アカウントをお持ちでない方はこちら
        = button_to new_user_registration_path, method: :get, class: "signin-main__menu_signup_btn" do
          新規会員登録
        = link_to class: "signin-main__menu_signup_forget" do
          パスワードをお忘れの方

      .signin-main__menu_facebook
        = button_to new_user_registration_path, method: :get, class: "signin-main__menu_facebook_btn" do
          %i.fab.fa-facebook-square
          Facebookでログイン

      .signin-main__menu_google
        = button_to new_user_registration_path, method: :get, class: "signin-main__menu_google_btn" do
          %i.fab.fa-google
          Googleでログイン




      .signin-main__menu_login
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!

          .field
            = f.text_field :nickname, autocomplete: "nickname", placeholder: "メールアドレス", class: 'signin_text_field'
          .field
            = f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: 'signin_text_field'

        .signin-main__menu_login_action
          = button_to new_user_registration_path, method: :get, class: "signin-main__menu_login_action_btn" do
            ログイン
  .signin-footer
    = render partial: 'shared/signup_footer'
