
.signin-container
  .signin-header
    = render partial: 'signups/shared/signup_header'

  .signin-main
    .signin-main__menu
      .signin-main__menu_signup
        アカウントをお持ちでない方はこちら
        = button_to step1_signups_path, method: :get, class: "signin-main__menu_signup_btn" do
          新規会員登録
        = link_to class: "signin-main__menu_signup_forget" do
          パスワードをお忘れの方



      .signin-main__menu_login
        = form_for(resource, as: resource_name, url: user_session_path) do |f|
          = devise_error_messages!

          .field
            = f.email_field :email, class: 'login_form', id: 'email', placeholder: 'メールアドレス'
          .field
            = f.password_field :password, class: 'login_form', id: 'password', placeholder: 'パスワード'

          .signin-main__menu_login_action
            = f.submit "ログイン", class: "signin-main__menu_login_action_btn"


  .signin-footer
    = render partial: 'signups/shared/signup_footer'
