.header__item
  = link_to image_tag("/images/material/logo/logo.png", class: "header__item__logo"), posts_index_path

.user-mypage
  .side-content
    %nav.mypage-nav
      %ul.mypage-nav__list
        %li.active
          = link_to "#", class: "mypage-nav__list__item" do
            マイページ
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            お知らせ
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            やることリスト
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            いいね！一覧
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            出品する
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            下書き一覧
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            出品した商品-出品中
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            出品した商品-取引中
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            出品した商品-売却済み
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            購入した商品-取引中
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            購入した商品-過去の取引
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            ニュース一覧
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            評価一覧
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            ガイド
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            お問い合わせ
            %i.fa.fa-chevron-right
      %h3.mypage-nav__head
        設定
      %ul.mypage-nav__setting
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            プロフィール
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            発送元・お届け先住所変更
            %i.fa.fa-chevron-right
        %li
          = link_to "credit", class: "mypage-nav__setting__item" do
            支払い方法
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            メール/パスワード
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            本人情報
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            電話番号の確認
            %i.fa.fa-chevron-right
        %li
          = link_to "logout", class: "mypage-nav__setting__item" do
            ログアウト
            %i.fa.fa-chevron-right

  .main-content
    %section.mypage-user
      = link_to "#", class: "mypage-user__link" do
        .mypage-user__icon
          = image_tag "noimage.png", class:"mypage-user__icon"
        %h2.mypage-user__name
          しゅうじ
        .mypage-user__info
          評価  0  出品数  0
    %section.mypage-info-todo
      %ul.tabs
        %li.active
          お知らせ
        %li
          やることリスト
      %ul.information-list
        .information-list__logo

        .information-list__body
          %li.information-list__body__item
            《本日開始》全国16,600店のファミリーマートにてコード決済が使えるようになりました
            %i.fa.fa-chevron-right
          %li.information-list__body__item
            《本日開始》全国16,600店のファミリーマートにてコード決済が使えるようになりました
            %i.fa.fa-chevron-right
          %li.information-list__body__item
            《本日開始》全国16,600店のファミリーマートにてコード決済が使えるようになりました
            %i.fa.fa-chevron-right
        .information-list__footer
          = link_to "#", class: "information-list__footer__btn" do
            一覧を見る
    .mypage-products
      %h2.mypage-products__head
        購入した商品
      %ul.mypage-products__tabs
        %li.active
          取引中
        %li
          過去の取引
      .products-transaction
        取引中の商品がありません

.low-content
  %h2 だれでもかんたん、人生を変えるフリマアプリ
  %p 今すぐ無料ダウンロード！
  .low-content__img
    .low-content__img__1
    .low-content__img__2

.footer
  .footer__content
    .footer__content__left
      %ul
        %p FURIMAについて
        %li
          会社概要（運営会社）
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          ポイントに関する特約
    .footer__content__center
      %ul
        %p FURIMAを見る
        %li
          カテゴリー一覧
        %li
          ブランド一覧
    .footer__content__right
      %ul
        %p ヘルプ＆ガイド
        %li
          FURIMAガイド
        %li
          FURIMAロゴ利用ガイドライン
        %li
          お知らせ
  .footer__logo
  .footer__copyright
    © FURIMA