.header__item
  = link_to image_tag("/images/material/logo/logo.png", class: "header__item__logo"), posts_index_path

.logout-page
  .side-content
    %nav.mypage-nav
      %ul.mypage-nav__list
        %li
          = link_to "index", class: "mypage-nav__list__item" do
            マイページ
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            お知らせ
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            やることリスト
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            いいね！一覧
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            出品する
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            下書き一覧
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            出品した商品-出品中
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            出品した商品-取引中
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            出品した商品-売却済み
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            購入した商品-取引中
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            購入した商品-過去の取引
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            ニュース一覧
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            評価一覧
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            ガイド
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__list__item" do
            お問い合わせ
            %i.fa.fa-chevron-right
      %h3.mypage-nav__head
        設定
      %ul.mypage-nav__setting
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            プロフィール
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            発送元・お届け先住所変更
            %i.fa.fa-chevron-right
        %li
          = link_to "credit", class: "mypage-nav__setting__item" do
            支払い方法
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            メール/パスワード
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            本人情報
            %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "mypage-nav__setting__item" do
            電話番号の確認
            %i.fa.fa-chevron-right
        %li.active
          = link_to "logout", class: "mypage-nav__setting__item" do
            ログアウト
            %i.fa.fa-chevron-right

  .logout-content
    .logout-content__box
      = link_to "#", class: "logout-conternt__box__btn" do
        ログアウト


.low-content
  %h2 だれでもかんたん、人生を変えるフリマアプリ
  %p 今すぐ無料ダウンロード！
  .low-content__img
    .low-content__img__1
    .low-content__img__2

.footer
  .footer__content
    .footer__content__left
      %ul
        %p FURIMAについて
        %li
          会社概要（運営会社）
        %li 
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          ポイントに関する特約
    .footer__content__center
      %ul
        %p FURIMAを見る
        %li
          カテゴリー一覧
        %li
          ブランド一覧
    .footer__content__right
      %ul
        %p ヘルプ＆ガイド
        %li
          FURIMAガイド
        %li
          FURIMAロゴ利用ガイドライン
        %li
          お知らせ
  .footer__logo
  .footer__copyright
    © FURIMA
