.header__item
  = link_to image_tag("/images/material/logo/logo.png", class: "header__item__logo"), posts_index_path
.gray-background
  .contents
    .content-box
      .item-name
        = @product.name
      .items
        .item-phot
          =image_tag @product.images[0].src.url, size: "300x300"
        .item-data
          %table
            %tr
              %th 出品者
              %td
                = @product.user.nickname
                %br
                %br
                %i.far.fa-smile-beam
                %i.far.fa-meh
                %i.far.fa-frown
            %tr
              %th カテゴリー
              %td
                = @product.category 
            %tr
              %th ブランド
              %td
                = @product.brands
            %tr
              %th 商品の状態
              %td
                = @product.condition
            %tr
              %th 配送料の負担
              %td
                = @product.delivery_user
            %tr
              %th 配送の方法
              %td
                = @product.delivery_method
            %tr
              %th 配送元地域
              %td
                = @product.area
            %tr
              %th 発送日の目安
              %td
                = @product.delivery_days


      .price-box
        = @product.price
        円

      .item-buy-btn
        .product-fee_payer
          -if user_signed_in?
            -if @product.user_id == current_user.id
              = link_to edit_product_path(@product), data: {turbolinks: false} do
                .product-edit-btn 商品の編集
                .product-btn-or
              = link_to product_path(@product), method: :delete, data: { turbolinks: false} do
                .product-stop-btn この商品を削除する   
            -else 
              -if @product.buyer_id == 0
                = link_to product_card_confirmation_path(@product), data: {turbolinks: false} do
                  .product-buy-btn 購入画面に進む
              -else
                .product-buy-btn-sold 売り切れました
          -else
            -if @product.buyer_id == 0
              = link_to user_session_path do
                .product-buy-btn 購入画面に進む
            -else
              .product-buy-btn-sold 売り切れました    
      .item-Details
        %br Gallery viscontiのティアード調のフリルデザインが
        %br 上品＆可愛いロングジャケットです。
        %br 柔らかく、滑らかな生地感が着心地をアップさせます。
        %br 3段フリル+リボンのキュートで可愛いディテールが
        %br コーディネイトに甘さをプラス♪
        %br 気軽さがあり、幅広コーデで役立つ人気アイテムです。
        %br
        %br 新品未使用です
        %br
        %br 素人保管、中古品のご理解の上ご購入ください
        %br
        %br よろしくお願い致しますm(_ _)m


  .item-comment
    .comment-messege
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .comment-form
    .comment-btm
      コメントする
  .item-category-log
  %br メルカリ  ＞  ロングジャケット
  %br